{erl_opts, [{i, "include"}]}.
{deps, [
  {erlArango, ".*",
    {git, "https://github.com/SisMaker/erlArango.git", {branch, "master"}}},
  {hackney, ".*",
    {git, "https://github.com/benoitc/hackney.git", {branch, "master"}}},
  {ibrowse, ".*",
    {git, "https://github.com/cmullaparthi/ibrowse.git", {branch, "master"}}},
  {timing, ".*",
    {git, "https://github.com/lpgauth/timing.git", {branch, "master"}}}
]}.
